
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  width:100dvh;
  min-width: 320px;
  min-height: 100dvh;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width:100dvh;
  display:flex;
  flex-direction: row;
}


#left{
  display:flex;
  flex-direction:column;
  width:15dvw;
}

#icon{
  background-color: bisque;
  height:30dvh;
  width:15dvw;
}
#navbar{
  width:15dvw;
  background-color: rgb(202, 244, 244);
  display:flex;
  flex-direction:column;
  height:70dvh
}

#right{
  display:flex;
  flex-direction: column;
  width:85dvw;
  height:100dvh;
}
#header{
  align-self:start;
  background-color: darksalmon;
  width:85dvw;
  height:8dvh;
}

#mainBody{
  height:92dvh;
  background-color: rgb(208, 176, 238);
}



