html{
  overflow-y: hidden;
  width:100dvw;
}
body {
  margin: 0;
  display: flex;
  position:absolute;
  right:0;
  width:100dvw;
  min-width: 320px;
  min-height: 100dvh;
  overflow-x: hidden;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width:100%;
  display:flex;
  flex-direction: row;
  
}


#left{
  display:flex;
  flex-direction:column;
  width:15dvw;
}

#icon{
  background-color:rgb(184, 208, 252);
  height:30dvh;
  width:15dvw;
  display:flex;
  place-content:center;
  place-items:center;
}

#iconIMG{
  background-color: aliceblue;
  height:90%;
  max-width:80%;
  aspect-ratio:initial;
  border-radius: 40%;
  display:flex;
  /* background-color: rgb(184, 208, 252); */
}

#iconIMG:hover {
cursor: pointer;
}

#navbar{
  width:15dvw;
  background-color: rgb(184, 208, 252);
  display:flex;
  height:70dvh;
  place-content: center;
}

#navbarBody{
  display:flex;
  flex-direction: column;
place-content:center;
background-color:aliceblue;
margin:1rem;
width:100%;


}
  

#right{
  display:flex;
  flex-direction: column;
  width:85dvw;
  min-height:100%;
  height:100dvh;
  background-color: rgb(228, 207, 245);
}
#header{
  align-self:start;
  
  width:85dvw;
  height:8dvh;
  
  /* position:fixed; */
}

#headerBody{
  display: flex;
  background-color: rgb(228, 207, 245);
margin:0;
height:8dvh;
}

#mainBody{
  height:92dvh;;
  background-color: rgb(228, 207, 245);
  display:flex;
  overflow-x:hidden;
  position:relative;
  top:0;
  right:0;
  left:0;
  padding:1.3rem;
  padding-top:1px;
}
#mainBody::-webkit-scrollbar {
height:0.1rem;
position:sticky;
top:50%;
}

#bodyBody{
  background-color:rgb(251, 248, 245);
  margin:0rem;
  width:100%;
  height: fit-content;
  outline:1px solid rgba(1, 4, 8, .2);
  overflow-x:hidden;
  position:relative;
  top:0;
}
#bodyBody::-webkit-scrollbar {
  width: 0.1rem;
  position:relative;
top:0;
  left:1rem;;
  /* Set the width of the custom scrollbar */
  background-color: transparent;
  /* Set the background color of the custom scrollbar */
}

#filterBar{
  position:sticky;
  top:0;
  z-index:1;
  background-color: bisque;
  width:calc(81dvw + 0.2rem);
  padding:0.9rem;
  border-bottom:2px solid rgb(253, 192, 119)
}
#collapsedFilter{
  position: sticky;
    top: 0;
    z-index: 1;
    background-color: bisque;
    width: calc(81dvw + 0.2rem);
    padding: 0.9rem;
    border-bottom: 2px solid rgb(253, 192, 119)
}

.thumbs{
  background-color: rgb(249, 239, 226);
  width:100;
  height:fit-content;
  min-height:78dvh;
  display: flex;
  flex-flow:row;
  justify-content:space-around;
  padding:1.3rem;
  position:relative;
  top:0;
  
}

.rowDiv{
  display:flex;
  flex-flow:column;
  width:29%;
  gap:3rem;
}

.thumbnailDiv{
  aspect-ratio: initial;
  width:100%;
  display:flex;
  height:fitContent;
}

.thumbnailDiv:hover {
  cursor:pointer;
}

.thumbBorder{
  display:flex;
  position:relative;
  background-color:rgb(255, 241, 222);
  border: 1px solid rgba(1, 4, 8, .2);
  place-content: center;
  border-radius:2px;
  padding:2px;
}
.imageThumb{
  width:100%
}


#singleDiv{
  height:71dvh;
  position:sticky;
  top:0;
  z-index: 2;
  display:flex;
  margin-bottom:0;
  place-self: center;
  
}

#singleImg{
  aspect-ratio: initial;
  height:100%;
  position:sticky;
}

#singleInfo{
  margin:0;
  height:100%;
  background-color:azure;
  padding:.9rem;
  text-align: center;
  line-height: 13px;
}

#singleHeader{
  margin:0;
}

#contactInfo{
  list-style-type: none;
  
}

.singleYear{
  margin-top:0;
  font-size:x-small
}

#test{
  background-color:paleturquoise;
  height:20%;
  width:30%
}

#navList{
  list-style-type: none;
}

#aboutMe{
  align-self:center;
  width:65%;
  font-size: x-large;
}

.indent{
 text-indent: 30px;
}

.end{
  text-align:right;
}

.navListItem{
  gap:1.3rem;
}

.navListItem:hover {
  font-size: larger;
}

.noScroll{
 overflow-y: hidden;
}

.rounded{
  border-radius:5px;
}

::-webkit-scrollbar {
  width: 0.5em;
  /* Adjust the width if needed */
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  position: relative;
  /* Hide the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* Hide the track */
  width:0;
}
